Codeset/EmotionalSSMLParser/EmotionalSSMLParserWithTN/inputDoc/g2pschema.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="g2p">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="mode" type="xs:string"/>

                <xs:element name="source_lang" type="xs:string"/>

                <xs:element name="target_lang" type="xs:string"/>

            </xs:sequence>

        </xs:complexType>

    </xs:element>


</xs:schema>